@{
}
<div class ="align-items-center justify-content-center">
    <label class="text-primary">Admin Panel</label>
    <p class="text-secondary">Users Tools</p>
    <div>
        <a href="@Url.Action("UsersIndex", "Admin")" class="btn btn-primary">Go to Users Management Panel</a>
    </div>
    <p class="text-secondary">Flight Tools</p>
    <div>
        <a href="@Url.Action("Create", "Flight")" class="btn btn-primary">Go to Add a Flight</a>
        <a href="@Url.Action("FlightsIndex", "Flight")" class="btn btn-primary">Go to Flights Management Panel</a>
    </div>
    <p class="text-secondary">Reservation Tools</p>
    <div>
        <a href="@Url.Action("ReservationsIndex", "Reservation")" class="btn btn-primary">Go to Reservations Management Panel </a>
    </div>

</div>