@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bar rating application</h1>
    <img src="https://images.unsplash.com/photo-1597290282695-edc43d0e7129?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YmFyfGVufDB8fDB8fHww" alt="Stock Image">
    <h3 class="display-4">See bars</h3>
    <a asp-action="Index" asp-controller="Bar" class="btn btn-primary">Go to Bars</a>
</div>
